@font-face {
  font-family: "Georgia";
  src: url("./clientSideAssets/fonts/Georgia.ttf") format("ttf");
}

* {
  font-family: "Georgia";
}

/* Navbar Styling Start */
.navbar {
  /* background-color: rgba(252, 252, 252, 0.6); */
  background-color: #f6f6f6;
  transition: 0.3s ease-in-out;
}

.navbar-scrolled {
  background-color: #f8f8f8;
  transition-duration: 0.3s;
  transition: 0.3s ease-in-out;
  /*box-shadow: -1px 2px 3px -1px rgba(46, 45, 45, 0.78);*/
  box-shadow: 0px 3px 2px 0px rgba(222, 213, 213, 0.75);
  -webkit-box-shadow: 0px 3px 2px 0px rgba(222, 213, 213, 0.75);
  -moz-box-shadow: 0px 3px 2px 0px rgba(222, 213, 213, 0.75);
}

.navbar-nav li a,
.navbar-brand,
.navbar-toggler {
  z-index: 99999 !important;
  position: relative;
  font-weight: 500 !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* Navbar Styling End */
.hero-imgg {
  background-image: url("/clientSideAssets/images/hero-new.png");
  height: 95vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

}

/* Hero Update Start */

.car-caption {
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .car-caption {
    padding-left: 7rem !important;
  }

}

@media screen and (min-width: 2560px) {
  .car-caption {
    justify-content: center;
  }

}

.carousel-inner {
  position: relative;
}

.carousel-indicators .active {
  background-color: black !important;
}

.carousel-indicators button {
  background-color: black !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 60% !important;
  z-index: 999 !important;
}

.carousel-indicators {
  z-index: 999 !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  /* Adjust opacity as needed */
  z-index: 1;
  /* Ensure overlay is above the image */
}

/* Hero Updated End */

/* hero Start */
.hero {
  /* padding-top: 180px; */
}

.hero-outer {
  background-color: #f7f7f7;
}

.hero p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(117, 90, 10);
  text-transform: capitalize;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  /* color: #212121; */
  text-transform: capitalize;
  margin-bottom: 16px;
}

.hero small {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #3a3636;

  text-transform: capitalize;
}

.hero small span {
  font-size: 18px;
  line-height: 18px;
  color: #c09578;
  font-weight: 700;
  margin-left: 8px;
  text-transform: capitalize;
}

.hero button {
  background: transparent;
  box-shadow: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  /* border-radius: 30px; */
  border: none;
  font-weight: 500;
  line-height: 50px;
  position: relative;
}

@keyframes moveButton {
  0% {
    transform: translateX(0);
    /* Start position */
  }

  50% {
    transform: translateX(3px);
    /* Move right */
  }

  100% {
    transform: translateX(0);
    /* Back to start position */
  }
}

.hero button svg {
  vertical-align: middle;
  margin-left: 5px;
  transition: transform 0.3s ease;
  /* Smooth transition */
  margin-top: -5px;
}

.carousel-control-prev {
  display: none !important;
}

.carousel-control-next {
  display: none !important;
}

/* Add animation to SVG on button hover */
.hero a:hover svg {
  animation: moveButton 0.8s infinite;
  /* Apply animation infinitely */
}

/* hero End */

/* Inspiring Image Start */
.section-heading h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
}

.inspiring-image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.inspiring-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inspiring-text span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #0d0c22;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg,
      transparent 20.91%,
      rgba(0, 0, 0, 0.6) 75.88%);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  /* Initially hidden */
  transform: translateY(100%);
  /* Start position: below the image */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Transition for opacity and transform */
}

.inspiring-image:hover .image-overlay {
  opacity: 1;
  /* Show overlay on hover */
  transform: translateY(0);
  /* Slide up to show text */
}

.inspiring-text .badge {
  font-size: 10px !important;
  padding: 0 5px !important;
  text-transform: uppercase;
  background-color: #ccc !important;
}

.inspiring-text .amount {
  font-size: 12px !important;
  font-weight: 500 !important;

  color: #3d3d4e;
}

.heart:hover {
  fill: red;
  cursor: pointer;
  border: none !important;
  stroke: red !important;
}

/* Inspiring Image End */

/* Destination Start */

.destination {
  background-color: #fbda79;
}

.destination h1 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #0d0c22;
}

.destination p {
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  color: #0d0c22;
}

.destination .started {
  background-color: #0d0c22;
  color: #ffffff;
  border: none;
  padding: 16px 20px;
  border-radius: 30px;
  font-weight: 600;
}

.destination .learn {
  color: #0d0c22;
  background-color: #ffffff;
  border: none;
  padding: 16px 20px;
  border-radius: 30px;
  font-weight: 600;
}

.destination .started:hover {
  opacity: 0.8;
}

.destination .learn:hover {
  opacity: 0.8;
}

/* Destination End */

/* Team Card Start */

.card-img-overlay-text {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding: 0 10px;
  color: white;
  background: linear-gradient(180deg,
      transparent 20.91%,
      rgba(0, 0, 0, 0.4) 75.88%);
}

.team {
  border-radius: 26px !important;
  overflow: hidden;
  height: 400px !important;
  width: 300px;
}

.team img {
  object-fit: cover !important;
  width: 100%;
  height: 100%;
}

.team p {
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
}

.team small {
  font-size: 12px;
  line-height: 1;
}

.team button {
  font-size: 11px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  border-radius: 30px;
  padding: 3px 8px;
}

.team button:hover {
  color: black;
  background-color: white;
}

.team button:hover svg {
  fill: black !important;
}

/* Team Card End */

/* Footer Start */
.footer-links li a {
  font-size: 12px !important;
  margin: 0px 14px;
}

.footer-links li {
  margin: 14px 0;
}

.lower-links {
  font-size: 14px;
  color: #6e6d7a;
}

.lower-links a {
  font-size: 14px;
  color: #6e6d7a;
}

.lower-links a:hover {
  color: #6e6d7a !important;
}

.footer-social {
  justify-content: end;
  margin-top: 40px;
}

/* Footer End */

/* For Small Screen */

@media only screen and (max-width: 768px) {
  .hero {
    padding-top: 0px;
    text-align: center;

  }

  .overlay {
    background-color: #f6f6f6 !important;
  }

  .hero h1 {
    font-size: 30px;
    margin-bottom: 0 !important;
  }

  .carousel-item img {
    height: 65vh;
    object-fit: cover;


  }



  .hero p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0 !important;
  }

  .hero small {
    font-size: 12px !important;
  }

  .section-heading h1 {
    font-size: 36px;
  }

  .destination h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .destination p {
    font-size: 16px;
    line-height: 30px;
  }

  .team {
    height: 300px !important;
    width: 250px;
  }

  .footer-middle {
    justify-content: center;
  }

  .footer-social {
    justify-content: center;
  }

  .footer-image {
    margin: auto !important;
  }

  .wrap-slider {
    height: 350px !important;
  }

  .hero-imgg {
    background-position: left;
  }

  .car-caption {
    padding-left: 0px !important;
    justify-content: center !important;
    align-items: end;
    padding-bottom: 45px;
  }

  .overlayer {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, transparent 20.91%, rgb(255 255 255 / 135%) 99.88%);
    margin: auto 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .ctaaa {
    position: relative;
    z-index: 2;
  }

  .search input {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1300px) {
  .footer-links li a {
    font-size: 11px !important;
    margin: 0px 10px;
  }
}

@media only screen and (min-width: 1400px) {
  .footer-links li a {
    font-size: 14px !important;
    margin: 0px 14px;
  }
}

@media only screen and (max-width: 1150px) {
  .footer-links li a {
    font-size: 10px !important;
    margin: 0px 10px;
  }
}

/* Masonary Start */

/* Reset CSS */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

/* Main CSS */
.grid-wrapper>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.grid-wrapper .wide {
  grid-column: span 2;
}

.grid-wrapper .tall {
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

/* Masonary End */

.wrap-slider {
  width: 100%;
  overflow: hidden;
  height: 500px;
  position: relative;
}

.wrap-slider ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: row;
  will-change: transform;
}

.wrap-slider ul li {
  padding: 10px;
}

.wrap-slider ul li a {
  display: block;
  padding: 50px;
  white-space: nowrap;
  background: rgba(255, 0, 0, 0.8);
  color: rgba(0, 0, 255, 0.9);
  text-decoration: none;
  transition: background 0.3s ease-in, color 0.3s ease-out;
  will-change: color, background;
}



/* Designer Styling Start */

.designer-card .logo img {
  border-radius: 60px;
}

.tags .accept {
  background-color: rgba(99, 163, 117, 0.1) !important;
  border: 1px solid rgba(77, 170, 87, 0.15);
  color: #63a375;
  border-radius: 30px;
  font-size: 10px !important;
}

.tags .pro {
  background-color: rgba(243, 175, 228, 0.25) !important;
  border: 1px solid rgba(243, 175, 228, 0.5);
  color: #b8509a;
  border-radius: 30px;
  font-size: 10px !important;
}

.designer-card .card-body .designer-image {

  height: 200px;
  overflow: hidden;
}


.designer-card .card-body .designer-image img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.search button {
  background-color: #000000 !important;
  color: white !important;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
}

.search input {
  font-size: 20px;
  border: none !important;
}

.search input:focus {
  border: none !important;
  box-shadow: none !important;
}

.search .top-search {
  border: 1px solid black;
  /* padding: 3px 6px; */
  border-radius: 60px;
}

.search .top-search button:hover {
  opacity: 0.8;
}

.signin button {
  background-color: #000000 !important;
  color: white !important;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
}

.logo-signin {
  height: 100px;
  width: 164px;
  margin: auto;
}

.signin .card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 60%;

}

#grid h5 {
  font-size: 14px !important;
  font-weight: bold;
  color: #000000;
  text-decoration: none !important;
}

#grid p {
  font-size: 12px !important;
  color: #666;
}

.designer-card {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.3s;
  transform: scale(1);
}


.designer-card:hover {

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(1.1);

}

.resume {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 2px solid #ccc;
  padding: 20px;
  background-color: rgb(238, 234, 234);
  border-radius: 10px;
  margin: 30px 0;

}

.profile {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 60%;
  border: 3px solid #ddddd5 !important;

}

#grid h5 {
  font-size: 14px !important;
  font-weight: bold;
  color: #000000;
  text-decoration: none !important;
}

#grid p {
  font-size: 12px !important;
  color: #666;
}

#grid li {
  transition: 0.3s;
  transform: scale(1);
}

#grid li:hover {

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(0.9);

}

#grid li a:hover {
  cursor: pointer !important;

}

.nav-link {
  color: #000000 !important;
}

.nav-item .active {
  font-weight: 500;
  border: none !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none !important;
}

.nav-link:focus-visible {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.section-heading p {
  font-size: 16px;
}

.section-heading .about-badge {
  background-color: #F6D9FB !important;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 30px 0;
  font-weight: 600;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none !important;
}

.nav-link:focus-visible {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.section-heading p {
  font-size: 16px;
}

.section-heading .about-badge {
  background-color: #F6D9FB !important;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 30px 0;
  font-weight: 600;
}

/* Project cards on profile page */
.projected_card {
  cursor: pointer !important;
}


.forget-password {
  color: rgb(91, 90, 90);
}

.forget-password:hover {
  color: black;
}

.nav-item .nav-link {
  color: grey !important;
}

.nav-item .active {
  color: black !important;
}

.designer-social a svg {
  fill: gray !important;
}

.designer-social a svg:hover {
  fill: goldenrod !important;
}


.nav-tabs .nav-link:focus,
.nav-tabs .nav-link {
  border: none !important;
}

.join:hover {
  color: #8b7938 !important;
}


.nav-link {
  color: #000000 !important;
}

.nav-item .active {
  font-weight: 500;
  border: none !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none !important;
}

.nav-link:focus-visible {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.section-heading p {
  font-size: 16px;
}

.section-heading .about-badge {
  background-color: #f6d9fb !important;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 30px 0;
  font-weight: 600;
}

.login-badge {
  background-color: #fdd9e5 !important;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 30px 0;
  font-weight: 600;
}

.pro-badge {
  background-color: black !important;
  padding: 5px 10px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 10px;
  color: #ffca0c !important;
}

.profile-text {
  color: #2b2a29 !important;
}

.profile-text p {
  font-size: 22px;
}

.signup-badge {
  background-color: #22efde !important;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 30px 0;
  font-weight: 600;
}

.contact-badge {
  background-color: #faf891 !important;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 30px 0;
  font-weight: 600;
}

.toZoom {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.toZoom:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

body,
html {
  margin: 0;
  padding: 0;
}

.video-js {
  width: 726px;
  height: auto;

}

.filter-col {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* .filter {
  cursor: pointer;
  background-color: #f8f8f8;
  padding: 5px;
  border-radius: 50px;
  margin-bottom: 5px;
} */

.category-filters {
  /* badge like */
  cursor: pointer;
  background-color: #f8eff8;
  border-radius: 50px;
  padding: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.activeCat {
  background-color: #A19153;
  color: white;
}

@media only screen and (max-width: 700px) {
  .video-js {
    width: 100% !important;
  }
}

.nav-item .nav-link {
  color: grey !important;
}

.nav-item .active {
  color: black !important;
}


.profile {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-top: -100px;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 60%;
  border: 4px solid #fff;
  object-fit: cover;
}

.contact-desginer {
  background-color: #252525;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
}

.contact-designer-text {
  color: #252525;
}

.designer-social svg:hover {
  color: #252525 !important;
}

@media only screen and (max-width: 768px) {

  .profile {
    margin: auto;
  }

}

@media only screen and (max-width: 600px) {

  .profile-text {
    text-align: center;
  }

  .designer-cover {
    height: 200px !important;
  }

  .profile {
    width: 150px;
    height: 150px;
    margin-top: -80px;
  }

}

.designer-cover {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.location::before {
  content: url("/clientSideAssets/images/location.svg");

  margin: 10px 5px 0 0;
}

.filter-badge {
  background-color: #ccc !important;
  border-radius: 30px !important;
  padding: 6px 10px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cat-selected {
  background-color: #8b7938 !important;
  color: white;
}

.car-caption {
  position: absolute;
  /* Position this element absolutely */
  top: 50%;

  right: 0;
  /* Align to the right */
  transform: translateY(-50%);
  /* Center vertically */
  width: 100%;
  /* Full width */
  display: flex;
  justify-content: flex-end;
  /* Align text to the right */
}

body {
  margin: 0;

  color: #2e323c;
  background: #f5f6fa;
  position: relative;
  height: 100%;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
  border-radius: 100px;
  border: solid 3px #8b7938;
  padding: 5px;
  width: 120px;
  height: 120px;
  position: relative;
}

.account-settings .user-profile .user-avatar img {

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;


}

.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #9fa8b9;
}

.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}

.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}

.account-settings .about p {
  font-size: 0.825rem;
}

.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #ffffff;
  color: #2e323c;
}

.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
  margin-top: -25px;
}

.profile-cover {
  height: 190px;
  width: 100%;
}

.divider {
  border-bottom: 1px solid #000;
}

.profile-section .card {
  border-color: #000;
  border-radius: 0px !important;
}

.profile-section a {
  color: #000;
  text-decoration: none !important;
}

.skills-section {
  border-bottom: 2px solid #000;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.stepper-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 1px;
  background-color: var(--prm-gray);
  transition: .4s;
  background-color: rgba(0, 0, 0, 0.3);
}

.stepper-button[aria-expanded="true"] {
  width: 60px;
  height: 60px;
  background-color: var(--prm-color);
  color: #fff;
}

.done {
  background-color: var(--prm-color);
  color: #fff;
}

.step-item {
  z-index: 10;
  text-align: center;
}

.stepper-progress {
  border-top: 3px solid #000;
  width: 20%;
}

.stepper-progress-disable {
  border-top: 3px solid #5a5a5a;
  width: 20%;

}

.camera-button {
  border: none;
  background-color: #8b7938;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: absolute;
  bottom: 10px;
  right: -15px;
}

.thumb-slider .swiper-slide {
  
}

.thumb-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
